<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://np000010cms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>np000010cms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NP000010CMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NP000010CMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:np000010cmsdbserver.database.windows.net,1433;Initial Catalog=NP000010CMS_db;User ID=np000010@np000010cmsdbserver;Password=Aamiradhikari@@" Name="Data Source=tcp:np000010cmsdbserver.database.windows.net,1433;Initial Catalog=NP000010CMS_db;User Id=np000010@np000010cmsdbserver;Password=Aamiradhikari@@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Z;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CMSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Z;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:np000010cmsdbserver.database.windows.net,1433;Initial Catalog=NP000010CMS_db;User Id=np000010@np000010cmsdbserver;Password=Aamiradhikari@@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>