<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
    <add name="CMSDBConnectionString" connectionString="Data Source=Z;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

</configuration>